<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <SchemaVersion>2.0</SchemaVersion>
    <PublishProfileName>win-x64</PublishProfileName>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishDir>..\artifacts\bin\$(Configuration)\net8.0-windows10.0.19041.0\win-x64\publish</PublishDir>
    <SelfContained>true</SelfContained>
    <TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
    <Configuration>Release</Configuration>
  </PropertyGroup>
</Project>
