<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <SchemaVersion>2.0</SchemaVersion>
    <PublishProfileName>win-x86</PublishProfileName>
    <Platform>x86</Platform>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <PublishDir>..\artifacts\bin\$(Configuration)\net8.0-windows10.0.19041.0\win-x86\publish</PublishDir>
    <SelfContained>true</SelfContained>
    <TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
    <Configuration>Release</Configuration>
  </PropertyGroup>
</Project>
